# pyc
*.pyc
__pycache__

# tensorflow from google
tensorflow/tensorflow/*
tensorflow/MNIST_data
tensorflow/tensorflow

# data
data/*
data

# ipython notebook
.ipynb_checkpoints/*
*.ipynb

# idea
.idea/*
